exportClasses(BrowserVizClass)

exportMethods (
   wait,
   ready,
   getBrowserInfo,
   send,
   browserResponseReady,
   getBrowserResponse,
   closeWebSocket,
   port,
   roundTripTest,
   displayHTMLInDiv,
   getBrowserWindowTitle,
   setBrowserWindowTitle,
   getBrowserWindowSize
   )

export(
   addRMessageHandler,
   BrowserViz,
   toJSON,
   fromJSON
   )

import(BiocGenerics)
importClassesFrom(methods, character, integer)
importFrom(methods, new, is)
importFrom(utils, browseURL)

import(httpuv)
importFrom(jsonlite, fromJSON, toJSON)
